:root {
    /* Colors */
    --primary-color: #3EB4B6;
    --primary-color-variant: #22577a;
    --secondary-color: #c7f9cc;
    --secondary-color-variant: #a1f5a9;
    
    --accent-color: #D86F95;

    /* Bootstrap overloads */
    --bs-body-bg: var(--secondary-color);
    --bs-body-color: var(--primary-color);
    --bs-border-color: var(--primary-color-variant);
    --bs-border-color-translucent: var(--primary-color-variant);

    --navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%280, 74, 87, 122' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --accordion-dropdown-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

    /* Other */
    --transition-time: .3s;
}

[data-bs-theme=dark] {
    --primary-color: #22577a;
    --primary-color-variant: #3EB4B6;
    --secondary-color: #a1f5a9;
    --secondary-color-variant: #c7f9cc;
}

body {
    background: var(--primary-color);
}

a#theme-switcher.nav-link > svg,
a.icon > svg {
    fill: var(--primary-color);
    transition: fill var(--transition-time);
}

a#theme-switcher.nav-link:hover > svg,
a.icon:hover > svg {
    fill: var(--accent-color);
}

a.btn,
button.btn {
    background-color: var(--secondary-color);
}

/******************
*** NAVIGATION ****
******************/

nav.navbar {
    background: var(--secondary-color);
}

a.nav-link {
    color: var(--primary-color);
    font-weight: bold;
}

a.nav-link.active {
    color: var(--primary-color-variant) !important;
}

a.nav-link:hover {
    color: var(--accent-color);
}

.navbar-nav a#theme-switcher.nav-link > svg {
    width: 30px;
}

.navbar-nav a#theme-switcher.nav-link:hover > svg {
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: var(--navbar-toggler-icon);
}

/******************
***** RESUME ******
******************/

a.icon {
    text-decoration: none;
}

a.icon > svg {
    width: 4rem;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed) {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 75%;
    font-weight: bold;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed),
button.accordion-button,
button.btn,
a.btn {
    transition: background var(--transition-time), color var(--transition-time);
}

button.accordion-button:hover,
button.btn:hover,
a.btn:hover {
    background: var(--accent-color);
    color: #22577a;
}

button.accordion-button::after,
button.accordion-button:not(.collapsed)::after {
    background-image: var(--accordion-dropdown-icon);
}

.list-group-flush > li.list-group-item {
    --bs-list-group-border-color: var(--primary-color);
}

.list-group-flush > li.list-group-item p {
    margin-bottom: .25rem;
}

li.list-group-item ul li {
    list-style-type: square;
}

.accordion-body a.nav-link {
    text-decoration: underline;
}

.accordion-body,
li.list-group-item {
    background: var(--primary-color-variant);
    transition: background var(--transition-time), color var(--transition-time);
}

/******************
**** CONTACT ******
******************/

.form-floating > textarea.form-control {
    height: 100px;
}