:root {
    --primary-color: #2B2C28;
    --secondary-color: #6d6e58;
    --variant-secondary-color: #a5a889;
    --accent-color: #E2D4B7;
}

html, body {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

nav.navbar {
    background: var(--secondary-color);
    color: var(--accent-color);
}

.navbar-nav .nav-link {
    color: var(--accent-color);
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-nav .nav-link.active {
    background: none;
    color: var(--primary-color) !important;
}

#personal-info, 
.accordion-item, 
.accordion-body > .list-group-flush > li.list-group-item {
    background: var(--accent-color);
}

button.accordion-button.collapsed {
    background: var(--secondary-color);
}

button.accordion-button:not(.collapsed) {
    background: var(--variant-secondary-color);
    color: var(--primary-color);
}

button.accordion-button:not(.collapsed) > h4 {
    font-weight: bold;
}

a.icon > svg {
    fill: var(--primary-color);
    width: 4rem;
}

a.icon:hover > svg {
    fill: var(--secondary-color);
}

a {
    text-decoration: none;
}

li {
    list-style-type: square;
}