:root {
    --primary-color: #727370;
    --secondary-color: #bdbd9f;
    --secondary-color-variant: #504f4f;
    --accent-color: #1e1e1e;
}

[data-bs-theme=dark] {
    --primary-color: #2B2C28;
    --secondary-color: #6d6e58;
    --secondary-color-variant: #a5a889;
    --accent-color: #E2D4B7;
}

body {
    background-color: var(--primary-color);
}

nav.navbar {
    background: var(--secondary-color);
    color: var(--accent-color);
}

.navbar-nav .nav-link {
    color: var(--accent-color);
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-nav .nav-link.active {
    background: none;
    color: var(--primary-color) !important;
}

.navbar-nav a#theme-switcher.nav-link > svg {
    fill: var(--accent-color);
    transition: fill 0.2s;
    width: 30px;
}

.navbar-nav a#theme-switcher.nav-link:hover > svg {
    fill: var(--primary-color);
}

#personal-info, 
.accordion-item, 
.accordion-body > .list-group-flush > li.list-group-item {
    background: var(--accent-color);
}

button.accordion-button.collapsed {
    background: var(--secondary-color);
    font-size: x-large;
}

button.accordion-button:not(.collapsed) {
    background: var(--secondary-color-variant);
    color: var(--primary-color);
    font-size: x-large;
    font-weight: bold;
}

a.icon {
    text-decoration: none;
}

a.icon > svg {
    fill: var(--primary-color);
    width: 4rem;
}

a.icon:hover > svg {
    fill: var(--secondary-color);
}

li {
    list-style-type: square;
}

.accordion {
    --bs-accordion-border-color: var(--primary-color);
}

.accordion-body > .list-group-flush > li.list-group-item a {
    color: var(--secondary-color);
    font-weight: bold;
}

.accordion-body > .list-group-flush > li.list-group-item a:hover {
    color: var(--primary-color);
}

.list-group-flush > li.list-group-item p {
    margin-bottom: .25rem;
}

.list-group-item {
    border-color: var(--primary-color);
}